<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td>
                <form action="/edit" method="get">
                    <input type="hidden" name="id" th:value="${customer.id}">
                    <input type="submit" value="Edit">
                </form>
            </td>
            <td>
                <form action="/delete" method="post">
                    <input type="hidden" name="id" th:value="${customer.id}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <form action="/add" method="get">
        <input type="submit" value="Create New Customer">
    </form>
</body>
</html>