<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Search</title>
    <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{/webjars/jquery/3.7.1/js/jquery.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <script th:src="@{/app.js}"></script>
    <div class="container-fluid">
        <h1>Customer List</h1>
        <div class="col-2 my-3">
            <input class="form-control" type="text" id="searchKeyword" placeholder="Name">
        </div>
        <div class="col-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="20%">Name</th>
                        <th width="35%">Address</th>
                        <th width="20%">Phone Number</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody id="customerTableBody">
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.address}"></td>
                        <td th:text="${customer.phoneNumber}"></td>
                        <td>
                            <form action="/edit" method="get">
                                <input type="hidden" name="id" th:value="${customer.id}">
                                <input class="btn btn-primary" type="submit" value="Edit">
                            </form>
                        </td>
                        <td>
                            <form action="/delete" method="post">
                                <input type="hidden" name="id" th:value="${customer.id}">
                                <input class="btn btn-primary" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form action="/add" method="get">
            <input class="btn btn-primary" type="submit" value="Register New Customer">
        </form>
    </div>
</body>
</html>